.navbar {
  width: 100%;
  box-shadow: 0 1px 3px -2px black;
}

.navbar1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 196px;
  padding: 10px 0;
  
}

.navbar1 img{
  display: inline-block;
} 

.navbar1-contact {
  display: flex;
  gap: 30px;
}

.navbar1-contact img {
  margin-right: 12px;
}

.navbar1-3 img {
  margin-right: 12px;
}

.navbar2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8%;
  border-top: 1px solid #DEE2E6;
}


.nav-tong {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  font-weight: 700;
  margin-right: 20px;
  gap: 20px;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}


.nav-menu li:hover  {
  color: #D37235;
  cursor: pointer;
}

.nav-menu li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease; /* Thêm hiệu ứng chuyển đổi màu mượt */
}

.nav-menu .active {
  padding-bottom: 2px;
  border-bottom: 3px solid #D37235;
}

.nav-icon {
  display: flex;
  gap: 10px;
}

.nav-icon img {
  margin-right: 12px;
  position: relative;
}

.nav-icon .nav-count1 {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-left: -30px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
  z-index: 1;
}

.nav-icon .nav-count2 {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-left: -30px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
  z-index: 1;
}

  /* display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;  */